@media @tablet-up {
  .tu-discussion-card-theme {
    .IndexPage,
    .UserPage {
      .DiscussionListItem-title {
        margin-right: 0;
      }

      .DiscussionListItem-info > .item-tags,
      .DiscussionListItem-info > .item-tags:hover {
        position: static !important;
        right: auto !important;
        top: auto !important;
        max-width: none;
        margin: 0 0 8px;
        overflow: visible;
        white-space: normal;
        transition: none;
        mask-image: none !important;
        -webkit-mask-image: none !important;
      }
    }
  }
}
